<div id="learning-popup" style="">
    <i class="fa fa-close" style=" font-size: 24px; ; padding: 5px 10px; position: fixed; top: 7rem; right: 1%; align-item: center;" onclick="document.getElementById('learning-popup').style.display ='none'"></i>
    <div style="display:grid; grid-template-columns: repeat(2, minmax(500px, 700px)); border: 1px solid rgb(142, 198, 247); background-color: rgba(255, 255, 255, 0.8);">
        <div id="learning-video" style="flex: 1 1 ;">
 
            <div>
                <iframe id="video-scr" style="width:600px;height:400px;" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                </iframe>
            </div>

        </div>
        <div id="lesson-list">
            <ol>
                {{#each lessons}}
                <li class="lesson-detail">
                    <a class="lesson-name" href="#">{{this.name}}</a>
                    <iframe class="lesson-scr" style="display: none;" src="https://www.youtube.com/embed/{{this.url}}">
                    </iframe>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div> 

<section class="body-img">
    <div id="course-details" >
        <div id="detail-header">
            <div id="detail-img" style="width: 480px; height: 280px">
                <img src="{{imageload course.image course.imageType}}" style="border-top-left-radius: .5rem; border-top-right-radius:.5rem; width: 480px; height: 280px; padding: 10px">
            </div>
            <div id="detail-description" style="width: 765px;">
                <h1 id="detail-title">{{course.name}}</h1>
                <div style="display: flex;">
                    <div style="flex: 1 1 ;">
                        <h3 id="detail-author" >{{course.author}}</h3>
                    </div>
                    <div style="margin-bottom: .5rem;">
                        <span >
                            <i class="fa fa-user" style="font-size: 2rem;"></i>
                            {{!-- {{this.studentRes}} Trong thẻ span --}} 
                            <span style="font-size: 2rem;">{{course.studentRes}}</span>
                            Students
                        </span>
                    </div>
                </div>
                <p style="margin-top: 2rem;">{{course.description}}</p>
                <div>
                    <i class="fa fa-clock-o"style="font-size: 2rem; font-weight: 700;"></i> Thời gian
                    <span style="font-size: 2rem;">{{displaySumtime lessons}}</span>
                </div>
                <div>
                    <i class="fa fa-book" style="font-size: 2rem;"></i>
                    <span style="font-size: 2rem;">{{count}}</span> Bài học
                </div>
                {{#if user}}
                {{#unless (isHave user.registeredCourseIds course._id)}}
                    <div>
                        <a class="btn" href="/user/registerCourse/{{course._id}}" id="couse-btn">Đăng ký khóa học</a>
                    </div> 
                {{else }}
                 <p>Đã đăng ký</p>    
                {{/unless}}
                {{else }}
                    <div>
                        <a class="btn" href="/user/registerCourse/{{course._id}}" id="couse-btn">Đăng ký khóa học</a>
                    </div> 
                {{/if}}

            </div>
        </div>
        {{#if (isHave user.registeredCourseIds course._id)}}
            <h2 style="padding: 1rem;">Danh sách bài học</h2>
            <div id="detail-footer">
                {{#each lessons}}
                <div class="detail-lesson">
                    <div class="lesson-name">
                        <i class="fa fa-play" style="margin-right: 1rem;"></i>
                        <a href="#" onclick="document.getElementById('learning-popup').style.display='block'" class=>{{this.name}}</a>
                        <iframe class="lesson-scr" id="learning-popup1" style="display: none;" src="https://www.youtube.com/embed/{{this.url}}">
                        </iframe>
                    </div>
                    <div class="lesson-time">
                        <span>{{displaytime this.videotime}}</span>
                    </div>
                </div>
                {{/each}}    
            </div>
        
        {{/if}}
        <h3>Câu hỏi cho khoá học</h3>
        {{!-- form viết câu hỏi --}}
        {{#if (isMatch user.permission 'Student' )}}
        <div class="User-comment">
            <form method="POST" action="/user/writecomment/{{course._id}}">
                <div class="card">
                    <div class="card-header">
                        <img src="{{imageload user.image user.imageType}}" width="50" height="50" alt="">
                        {{user.name}}
                    </div>
                    <div class="card-body">
                        <textarea name="comment" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn">Viết câu hỏi</button>
                </div>
                
            </form>
        </div>
        {{/if}}
        {{!--Các bình luận --}}
        {{#each comments}}
        <div class="User-comment">
            <div class="card">
                <div class="card-header">
                    <img src="{{imageload this.User_id.image this.User.imageType}}" width="50" height="50=" alt="">{{this.User_id.name}}
                </div>
                <div class="card-body">
                    <textarea name="comment" class="form-control" readonly>{{this.comment}}</textarea>
                    {{#if this.answer}}
                    <div>
                        <a class="" data-toggle="collapse" href="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
                            Xem trả lời({{this.__v}})
                        </a>
                        {{!--Các phản hồi bình luận --}}
                        <div class="collapse" id="collapse{{@index}}">
                            <div class="card card-body">
                                {{#each this.answer}}
                                    <div>
                                    <img src="{{imageload this.User_id.image this.User.imageType}}" width="50" height="50=" alt="">{{this.User_id.name}}
                                    </div>
                                    
                                    <textarea class="form-control" readonly>{{this.comment}}</textarea> 
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{!--Viết phản hồi--}}
                    {{#if ../user}}
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapse{{@index}}" role="button" aria-expanded="false" aria-controls="multiCollapse{{@index}}">Viết câu trả lời</a>
                        </p>
                        <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapse{{@index}}">                    
                                <div class="User-comment">
                                    <form method="POST" action="/user/answercomment/{{this._id}}?_method=PUT">
                                        <div class="card">
                                            <div class="card-header">
                                                <img src="{{imageload ../user.image ../user.imageType}}" width="50" height="50" alt="">
                                                {{../user.name}}
                                            </div>
                                            <div class="card-body">
                                                <textarea name="comment" class="form-control"></textarea>
                                            </div>
                                            <button type="submit" class="btn">Gửi</button>
                                        </div>
                                        
                                    </form>
                                </div>
                                
                                </div>
                                
                            </div>
                        </div>
                    {{/if}}  
                </div>
            </div>
        </div>
             
        {{/each}}
    </div>
</section>
<style>
    .body-img{
        padding: auto;
    }
    #course-details{
        padding: 0 9%;
        box-sizing: border-box;
    }
    #detail-header{
        display: flex;
        background-color: rgba(213, 213, 255, 0.849);
        border-top-left-radius:  .5rem;
        border-top-right-radius: .5rem;
    }
    #detail-description{
        padding: 1rem 3rem;
    }
    #detail-author{
        margin-bottom: 0;
        margin-top: .5rem;
    }
    #couse-btn{
        position: relative;
        float: right;
    }
    /*detail-footer*/
    #detail-footer{
        display: grid;
        grid-template-columns: repeat(2, minmax(24rem, 50%));
        padding: 1rem;
    }
    .detail-lesson{
        display: flex;
        padding: 0.5rem 3rem;
        {{!-- border-right: 2px solid black; --}}
        border-left: 2px solid black;

    }
    .lesson-name{
        flex: 1 1;
    }
</style>

<style>
    #learning-popup{
        padding: 3rem 9%;
        display: none; 
        position: fixed;
        left: 0; 
        width: 100%; height: 100%;
        z-index: 99;
        background-color: rgba(204, 204, 204, 0.7);
    }
    .fa-close:hover{
        border: 1px solid #000;
        color: red;
        background-color: saddlebrown;
    }
    
    #learning-video {
        display: flex;
        width: 700px;
        padding: 1rem 0;
        margin: 0 auto;
        z-index: 1;
    }
    .fa-chevron-left:hover{
        cursor: pointer;
        background-color: rgb(43, 18, 18);
        color: #fff;
    }
    .fa-chevron-right:hover{
        cursor: pointer;
        background-color: rgb(43, 18, 18);
        color: #fff;

    }
    
    #previous-btn,
    #next-btn {
        margin: auto 2px;
    }
    
    #lesson-list {
        display: block;
        padding-left: 60px;
        margin-bottom: 1.57rem;
        margin-top: 1rem;
        overflow-y: scroll;
        box-sizing: border-box;
    }
    
    .lesson-detail {
        padding: 0.5rem 1rem;
        font-size: 17px;
        /* border-left: 2px solid black; */
    }
</style>

<script>
    if (document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready()
    }

    function ready() {
        var lessonClickeds = document.getElementsByClassName('lesson-name');
        for (let x of lessonClickeds) {
            x.addEventListener('click', getLessonScr)
        }
    }

    function getLessonScr(event) {
        var lesson = event.target
        lesson = lesson.parentElement
        var lessonScr = lesson.getElementsByClassName("lesson-scr")[0]
        lessonScr = lessonScr.src
        changeLessonScr(lessonScr)
        console.log(lessonScr)
    }

    function changeLessonScr(lessonScr) {
        var videoLink = document.getElementById('video-scr');
        videoLink.src = lessonScr;
        console.log(videoLink.src)
    }
</script>
