<div class="body body-img" id="">
    <div id="edit">
    <h1>Sửa khóa học</h1>
    <form method="POST" action="/course/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khoá học</label>
            <input type="text"  class="form-control" id="name" name="name" value="{{course.name}}">
        </div>
        <div class="form-group">
            <label for="name">Tên tác giả</label>
            <input type="text"  class="form-control" name="author" value="{{data.author}}">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <textarea  class="form-control" id="description" name="description">{{course.description}}</textarea>     
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh khóa học</label>
            <input type="file" name="image" class="filepond"/>
        </div>
        <div class="add-lesson-info">
            
            <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">
                    Tên môn học
                </th>
                <th scope="col">
                    Thời gian tạo
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each lessons}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-primary" data-toggle="modal" data-id="{{this._id}}" data-target="#update-course-modal{{@index}}">Sửa</a>
                    <a href="" class="btn btn-primary" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Chưa có bài học nào !!!
                </td>
            </tr>
            {{/each}}
        </tbody>
        </table>
        </div>
        <a class="btn btn-primary" style="color:azure" data-toggle="modal"  data-target="#add-course-modal">Add Lesson</a>  
         
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

</div>

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div id="add-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm khóa học</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action='/course/{{course._id}}/addlesson'>
                    <div class="form-group">
                        <label for="name">Tên bài học</label>
                        <input type="text"  class="form-control" id="name" name="lesson">
                    </div>
                    <div class="form-group">
                        <label for="linkvideo">Link video</label>
                        <input type="text"  class="form-control" name="lessonVideo">
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả bài học</label>
                        <textarea type="text"  class="form-control" name="description" ></textarea>
                    </div>
                    <button  type="submit" class="btn">thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{#each lessons}}
<div id="update-course-modal{{@index}}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa khóa học</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action='/course/updateLesson/{{this._id}}?_method=PUT'>
                    <div class="form-group">
                        <label for="name">Tên bài học</label>
                        <input type="text"  class="form-control" id="name" name="lesson" value="{{this.name}}">
                    </div>
                    <div class="form-group">
                        <label for="linkvideo">ID video</label>
                        <input type="text"  class="form-control" name="lessonVideo" value="{{this.url}}">
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả bài học</label>
                        <textarea type="text"  class="form-control" name="description" >{{this.description}}</textarea>
                    </div>
                    <button  type="submit" class="btn" onclick="">Sửa</button>
                </form>
            </div>
        </div>
    </div>
</div>  
{{/each}}
<form name="delete-course-form" method="POST"></form>

<style>
  #edit{
    margin: 2rem 7% 0;
  }
</style>
<script>
  
  document.addEventListener('DOMContentLoaded',function(){
    //var addCourseFrom = document.forms['add-course-form'];
    var lessonid;
    var addLessonFrom = $('.add-lesson-info')
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteDish = document.getElementById('btn-delete-course');
    var lessonid = 1;
    
    $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        lessonid = button.data('id');
    });

    $('#update-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        lessonid = button.data('id');
    });

    btnDeleteDish.onclick = function (e){
      e.preventDefault();
      deleteForm.action = '/course/lesson/' + lessonid + '?_method=DELETE';
      deleteForm.submit();
      //console.log(lessonid);
    };

  });

</script>