<div id="home" style="margin-top: 6.55rem;">
    <section class="home" >
    <div class="content">
        <h3>Don't Regret The Past Just Learn From It</h3>
        <p>Slogan Learn Forever đã phần nào nói lên được mục tiêu của chúng tôi</p>
        <p>Chúng tôi muốn lan tỏa kiến thức đến tất cả mọi người đam mê công nghệ</p>
        <a href="/register" class="" style="font-size: 24px;">Join us</a>
    </div>

    <div class="image">
        <img src="/image/Pngtree_program development learning code vector_5748229.png" alt="">
    </div>

</section>

<section class="speciality" id="speciality">
    <h1 class="heading"><span>Các khóa học nổi bật</span> </h1>
    <ul id="autoWidth" class="cs-hidden">
        {{#each courses}}
        <li class="item-b">
            <div class="box">
                <div class="slide-img">
                    <img src="{{imageload this.image this.imageType}}">
                    <div class="overlay">
                        <a href="/course/{{this.slug}}" class="buy-button">Đăng kí</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">{{this.name}}</a>
                        <span>John Haverst</span>
                    </div>
                    <div class="number">
                        <a href="#">400 </a>
                        <div>
                            <i class="fa fa-user-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</section>

<h1 class="heading"><span>Sứ mệnh của Learn Forever</span> </h1>
<section class="about-us" id="about-us">
    <div class="content">
        <h3>Có phải bạn đã từng nghĩ rằng:</h3>
        <p>Lập trình viên là một nghề rất xa vời?</p>
        <p>Phải rất am hiểu về công nghệ thì mới theo được lập trình?</p>
        <p>Công việc lập trình chỉ dành cho những người rất giỏi toán?
        </p>
        <h3>Sứ mệnh Learn Forever:</h3>
        <p>Các bạn muốn vượt qua những khó khăn để trở thành một lập trình viên giỏi</p>
        <p>Hãy đến với Learn Forever</p>
        <p>Chúng tôi sẽ giúp bạn hoàn thành được mục tiêu đó.</p>
    </div>

    <div class="image">
        <img src="/image/Pngtree_program development learning code vector_5748229.png" alt="">
    </div>
</section>

<section class="review" style="height: auto; margin-bottom: 2rem;">
    <h1 class="heading">Họ nói gì về chúng tôi</h1>
    <h3 class="sub-heading">Feedback của học viên</h3>

    <div class="swiper review-slider">
        <div class="swiper-wrapper wrapper">

{{#each feedbacks}}
            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{{imageload this.User_id.image this.User_id.imageType}}" alt="">
                    <div class="user-info">
                        <h3>{{this.User_id.name}}</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>{{this.comment}}</p>
            </div>
{{/each}}
     
        </div>
    </div>
    
</section>
</div>
<script type="text/javascript" src="/javascripts/script.js"></script>